[submodule "WArchive-Tools"]
	path = WArchive-Tools
	url = https://github.com/LagoLunatic/WArchive-Tools.git
	branch = master
[submodule "SuperBMD"]
	path = SuperBMD
	url = https://github.com/LagoLunatic/SuperBMD.git
	branch = master
